.board {
	background: black;
}

.shape {
	stroke: lightBlue;
	stroke-width: 1;
	stroke-opacity: 0.25;
}

.blue {
	fill: lightBlue;
}

.black {
	fill: black;
}

.purple {
	fill: purple;
}

.green {
	fill: green;
}

.shape:hover {
	fill-opacity: 0.7;
	stroke: red;
	stroke-width: 1.25;
	stroke-opacity: 1;
}

.container {
	float: left;
	position: relative;
	padding: 5px;
}

.title {
	color: purple;
	text-align: center;
}