.board {
	background: black;
}

.shape {
	stroke: black;
	stroke-width: 1;
}

.blue {
	fill: lightBlue;
}

.black {
	fill: black;
}

.shape:hover {
	fill-opacity: 0.7;
	stroke: red;
	stroke-width: 1.25;
}